.venv/
__pycache__/
*.pyc
.pytest_cache/
.mypy_cache/
.env
gha-creds-*.json
cloud_shell_setup.sh
cloud_run_setup.sh
github_actions_setup.sh
GOOGLE_CLOUD_RUN_CICD_NOTES.txt
GOOGLE_CLOUD_RUN_CICD_NOTES_v2.txt
